<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-2 gap-8 md:grid-cols-5 lg:grid-cols-7">
      <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
        <img class="h-12" src="../../../../assets/logosMarcas/HP-Logo-650x366.png" alt="Tuple">
      </div>
      <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
        <img class="h-12" src="../../../../assets/logosMarcas/Samsung-Logo-650x366.png" alt="Mirage">
      </div>
      <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
        <img class="h-12" src="../../../../assets/logosMarcas/PlayStation-Logo-650x366.png" alt="StaticKit">
      </div>
      <div class="col-span-1 flex justify-center md:col-span-3 lg:col-span-1">
        <img class="h-12" src="../../../../assets/logosMarcas/Apple-Logo-650x366.png" alt="Transistor">
      </div>
      <div class="col-span-2 flex justify-center md:col-span-3 lg:col-span-1">
        <img class="h-12" src="../../../../assets/logosMarcas/LG-Logo-650x366.png" alt="Workcation">
      </div>
      <div class="col-span-1 flex justify-center md:col-span-3 lg:col-span-1">
        <img class="h-12" src="../../../../assets/logosMarcas/Dell-Logo-650x366.png" alt="Transistor">
      </div>
      <div class="col-span-2 flex justify-center md:col-span-3 lg:col-span-1">
        <img class="h-12" src="../../../../assets/logosMarcas/Xiaomi-Logo-650x366.png" alt="Workcation">
      </div>
    </div>
  </div>
</div>

