<div class="bg-gray-100 py-2 mt-10 lg:mt-0 shadow-sm w-full  ">
  <div class="max-w-screen-xl  flex justify-around px-4 m-auto">
    <button class="text-gray-700 font-medium hover:text-indigo-600 transition-colors hover:border-b">Ofertas</button>
    <button class="text-gray-700 font-medium hover:text-indigo-600 transition-colors hover:border-b">PC Gaming's</button>
    <button class="text-gray-700 font-medium hover:text-indigo-600 transition-colors hover:border-b">Accesorios</button>
  </div>
</div>

