<div class="flex min-h-full flex-col justify-center items-center px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <a routerLink="/">
      <img class="h-40 w-auto mx-auto mb-4" src="assets/logo/logoTechZone.png" alt="TechZone">
    </a>
    <h2 class="text-center text-2xl font-bold tracking-tight text-gray-900">Registro</h2>
  </div>
  <p class="text-lg text-center mx-auto mt-4 max-w-md">
    Regístrate ahora para comenzar a disfrutar de todos nuestros servicios
  </p>
  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6" action="#" method="POST">
      <div>
        <label for="nombre" class="block text-sm font-medium text-gray-900">Nombre*</label>
        <div class="mt-2">
          <input type="text" name="nombre" id="nombre"
          placeholder="Nombre"
            class="block w-full rounded-md bg-white px-3 py-2 text-base text-gray-900 outline outline-1 outline-gray-300 placeholder-gray-400 focus:outline-2 focus:outline-offset-2 focus:outline-indigo-400 sm:text-sm">
        </div>
      </div>
      <div>
        <label for="apellidos" class="block text-sm font-medium text-gray-900">Apellidos*</label>
        <div class="mt-2">
          <input type="text" name="apellidos" id="apellidos"
          placeholder="Apellidos"
            class="block w-full rounded-md bg-white px-3 py-2 text-base text-gray-900 outline-1 outline-gray-300 placeholder-gray-400 focus:outline-2 focus:outline-offset-2 focus:outline-indigo-400 sm:text-sm">
        </div>
      </div>
      <div>
        <label for="email" class="block text-sm font-medium text-gray-900">Email</label>
        <div class="mt-2">
          <input type="email" name="email" id="email" autocomplete="email"
          placeholder="Email"
            class="block w-full rounded-md bg-white px-3 py-2 text-base text-gray-900 outline outline-1 outline-gray-300 placeholder-gray-400 focus:outline-2 focus:outline-offset-2 focus:outline-indigo-400 sm:text-sm">
        </div>
      </div>
      <div>
        <label for="contrasenia" class="block text-sm font-medium text-gray-900">Contraseña*</label>
        <div class="mt-2">
          <input type="password" name="contrasenia" id="contrasenia"
          placeholder="Contraseña"
            class="block w-full rounded-md bg-white px-3 py-2 text-base text-gray-900 outline outline-1 outline-gray-300 placeholder-gray-400 focus:outline-2 focus:outline-offset-2 focus:outline-indigo-600 sm:text-sm">
        </div>
      </div>
      <div>
        <label for="repetirContrasenia" class="block text-sm font-medium text-gray-900">Repetir Contraseña*</label>
        <div class="mt-2">
          <input type="password" name="repetirContrasenia" id="repetirContrasenia"
          placeholder="Repetir contraseña"
            class="block w-full rounded-md bg-white px-3 py-2 text-base text-gray-900 outline outline-1 outline-gray-300 placeholder-gray-400 focus:outline-2 focus:outline-offset-2 focus:outline-indigo-600 sm:text-sm">
        </div>
      </div>
      <div>
        <div class="flex items-start">
          <input type="checkbox" id="cookies" name="terminosyCondiciones"
            class="h-4 w-4 rounded border-gray-300 text-gray-600 focus:ring-indigo-600 checked:bg-indigo-600 checked:border-indigo-600">
          <label for="terminosyCondiciones" class="ml-3 text-sm text-gray-900">
            He leído y acepto
            <a href="" class="font-bold border-b">la política de privacidad</a>
          </label>
        </div>

      </div>
      <div>
        <div class="flex items-start">
          <input type="checkbox" id="marketing" name="marketing"
            class="h-4 w-4 rounded text-7xl border-gray-300 bg-blue-500 focus:ring-indigo-600">
          <label for="marketing" class="ml-3 text-sm text-gray-900">Deseo recibir comunicaciones via <strong>email</strong></label>
        </div>
      </div>
      <div>
        <button type="submit"
        class="flex w-full justify-center rounded-md border border-indigo-600 ring-indigo-600 px-3 py-2 text-sm font-semibold text-black shadow hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-400">
        Registrarte
      </button>
      </div>
    </form>
    <p class="my-6 text-center text-sm text-gray-500">
      ¿Ya tienes cuenta?
      <a href="/auth/login" class="font-semibold text-indigo-600 hover:text-indigo-500">Inicia sesión aquí</a>
    </p>
  </div>
</div>

